CV_Old/
*.doc*
.DS_Store

.Rproj.user

*sesync
cv_hocking_ngrrec.Rmd
cv_hocking_ngrrec.pdf
cv_semlisch_award_2019.pdf
.Rhistory
._*
cv_hocking_fed.pdf
CV_Hocking.docx
CV_Hocking_1page.pdf
CV_Hocking.docx

